.percent-box {
  color: #3f3732;
  display: flex;
  font-size: 53px;
  padding-top: 100px;
  padding-left: 60px;
}

.percent-value {
  color: #3f3732;
  font-size: 165px;
}

.percent {
  color: #3f3732;
  font-size: 53px;
  padding-top: 100px;
}

.current {
  position: fixed;
  color: #938c5c;
  font-size: 33px;
  padding-left: 16px;
  padding-top: 170px;
}

.submit-box {
  color: #3f3732;
  display: flex;
  font-size: 53px;
  padding-top: 40px;
  padding-left: 50px;
}

.expense-input {
  width: 200px;
  height: 47px;
  position: fixed;
  font-size: 30px;
  text-align: right;
}

.expense-btn {
  width: 100px;
  height: 50px;
  background-color: #3f3732;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-left: 221px;
}

.rank-list {
  margin-top: 130px;
  border-top: 1px solid;
  padding-top: 18px;
  padding-left: 30px;
  font-size: 23px;
}
